#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 110vh;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  position: relative;

  height: 800px;
}

header {
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: navbar;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes navbar {
  0% {
    transform: translateY(-100px);
    background-color: #ffffff;
  }

  100% {
    transform: translateY(0);
  }
}

.main-logo {
  margin: 10px 0 10px 20px;
}

.logo-col {
  width: 130px;
}

.main-profile {
  margin: 10px 20px 10px 0;
}

.main-image {
  animation-name: mainImage;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes mainImage {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 5;
  }

  75% {
    opacity: 8;
  }

  100% {
    opacity: 10;
  }
}

.main-image img {
  margin-right: 120px;
  margin-bottom: 150px;
  width: 500px;
  height: 400px;
}

.welcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
}

.welcome-note {
  width: 100%;
  margin-left: 300px;
  margin-bottom: 100px;

  font-size: 28px;
  text-align: center;
  animation-name: welcome;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes welcome {
  0% {
    opacity: 0;
    transform: translateY(-600px);
    background-color: #ffffff;
  }

  100% {
    opacity: 10;
    transform: translateY(0);
  }
}

.welcome-note p {
  font-size: 18px;
}

/* body */
.main-content {
  position: relative;
  display: grid;
  width: 90%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 50px;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 20px;
  animation-name: main-content;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes main-content {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
    background-color: #ffffff;
  }

  100% {
    transform: translateX(0);
  }
}

.recent-activity {
  border: 1px solid #ada9a9;
  overflow-x: auto;
  height: 300px;
}

.recent-heading,
.alerts-heading,
.resources-heading {
  font-size: 18px;
  padding: 3px 6px;
  margin: 0;
  color: #ffffff;
  background-color: rgb(63, 58, 58);
}

.alerts {
  border: 1px solid #ada9a9;
  overflow-y: auto;
  height: 300px;
  margin-bottom: 30px;
}

.alerts-inner {
  width: 80%;
  border-top: 1px solid #bebbbb;

  padding: 2px 5px;
}

.alert-date {
  text-align: center;
  color: rgb(248, 116, 138);
}

.resources {
  border: 1px solid #ada9a9;
  overflow-y: auto;
  height: 300px;
}

/* footer */
.footer {
  background-color: rgb(63, 58, 58);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer a {
  color: #ffffff;
}

@media screen and (max-width: 1300px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .main-content {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }

  .welcome {
    flex-direction: column;
  }

  .welcome-note {
    margin: 0;
  }

  .main-image img {
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    width: 400px;
    height: 300px;
  }
}
